<footer class="site-footer">
    <div class="footer-div">
        <span>TenKdoToLami (Slacking Za)</span>
        <div class="social-group">
            <a href="https://github.com/TenKdoToLami" target="_blank" class="social-icon">
                <img src="/assets/images/github-logo.png" alt="GitHub">
            </a>
        </div>
    </div>

    <div class="footer-div">
        <span>WoW-Mania</span>
        <div class="social-group">
            <a href="https://wowmania.com" target="_blank" class="social-icon">
                <img src="/assets/images/mania-logo.png" alt="WoWMania Logo">
            </a>
            <a href="https://facebook.com/WoWManiaUK" target="_blank" class="social-icon">
                <img src="/assets/images/facebook-logo.png" alt="FB">
            </a>
            <a href="https://twitter.com/WoWManiaUK" target="_blank" class="social-icon">
                <img src="/assets/images/twitter-logo.png" alt="TW">
            </a>
            <a href="https://www.youtube.com/channel/UCr53kJLfPXOi7zbodreysJw" target="_blank" class="social-icon">
                <img src="/assets/images/youtube-logo.png" alt="YT">
            </a>
        </div>
    </div>
</footer>